* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

/* Hero Section Styles */

.hero-section {
  background-image: url("/assets/pngwing6.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  width: 1920px;
  height: 850px;
  flex-shrink: 0;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-text-container {
  color: #272727;
  margin-left: 196px;
  margin-right: 96px;
}
.heading-primary {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.hero-text {
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0;
}
.btn-primary {
  border: none;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 42px;
}
.hero-img {
  width: 635px;
  height: 800px;
  flex-shrink: 0;
  margin-right: 196px;
}

/* Featured section styles */
.featured-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  margin-top: 84px;
}
.featured-text-container {
  text-align: center;
}
.featured-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.featured-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.featured-samples {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.sample {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sample-text {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
  text-decoration: underline;
}
.sample-img1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 75px 0 75px;
}

.sample-img2 {
  width: 464px;
  height: 538px;
  padding: 117px 48px 48px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.sample-img3 {
  width: 464px;
  height: 538px;
  padding: 67px 75px 0 75px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.featured-features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 320px;
  margin: 128px auto;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 64px;
}
.feature-icon {
  width: 88px;
  height: 88px;
  padding-bottom: 12px;
}

/* Hot Deal Section styles */
.hot-deal-section {
  background: rgba(229, 84, 115, 0.05);
  width: 1922px;
  height: 620px;
  display: flex;
  justify-content: space-evenly;
}

.hot-deal-off {
  color: #e55473;
}
.hot-deal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.hot-deal-img {
  padding: 100px 0;
}

/* Last Section styles */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 128px 0 48px 0;
  gap: 32px;
}
.gallery-imgs {
  display: flex;
  align-items: center;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  margin: 128px auto;
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  background: url("assets/rectangle-9.png"),
    lightgray 0px -203.444px / 100% 213.755% no-repeat;
}

.input {
  width: 700px;
  height: 64px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 8px 12px;
  margin-right: 12px;
}

/* Footer section styles */
.footer {
  background: #111010;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 1922px;
  height: 449px;
}
.flower-title {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}
#shop-txt {
  color: #fff;
}
.footer-text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 128px;
}
